{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Keepalived Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
#User={{ _keepalived_exporter_system_user }}
#Group={{ _keepalived_exporter_system_group }}
ExecStart={{ _keepalived_exporter_binary_install_dir }}/keepalived_exporter -web.listen-address={{ keepalived_exporter_web_listen_address }}
SyslogIdentifier=keepalived_exporter
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
